body{
    background-color:black;
    font-family: Arial, Helvetica, san-serif;
    color: lightcyan;
    text-align: left;
    
}

header {
    border-bottom: 3px ridge #af1038;
	text-align: center;
}

article {
    border: 1px ridge #eeeeee;
    box-sizing: border-box;
    padding: 5px;

}
aside {
    border: 1px ridge #ffffff;
    box-sizing: border-box;
    padding: 5px;

}
table {
    border: 1px ridge #ffffff;
    box-sizing: border-box;
    padding: 5px;
    align-content: center;
    text-align: center;
}


#container {
    display: flex;
    flex-direction: column;
    align-content: center;
    min-height: 100vh;
    min-width: 100vw;
    flex-grow: 1;
}

li {
    color:plum;
}

ul {
    color:seashell;
}
#normal-view{
    

}

form {
    padding: 10px;
    margin: 10px;
    border: 4px solid lightgray;
}

div{
	color:lavenderblush;
    text-align: left;
    
}

h1{
	color:whitesmoke;
	text-align: center;

}

h2{
	color:lightskyblue;
	text-align: left;
}

h3 {
	color:lavender;
}
#rt{
	text-align: center
}

#introduction{color:whitesmoke}

#breakUpStyle{color:lightseagreen}

/*use . for classes, use # for id*/
.changeThingsUp{color:lightcoral;font-style:italic}